BasedOnStyle: LLVM
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
PointerAlignment: Left
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
TabWidth: 4
ReflowComments: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
IndentGotoLabels: true
BreakAfterAttributes: Leave
UseCRLF: false
AllowShortLoopsOnASingleLine: true
AlignOperands:   true
BreakBeforeTernaryOperators: false
ColumnLimit: 0
AlwaysBreakAfterDefinitionReturnType: None
AllowShortBlocksOnASingleLine: Always
BreakAdjacentStringLiterals: false
BreakArrays: false
BreakBeforeBinaryOperators: None
BreakAfterJavaFieldAnnotations: false
BreakBeforeConceptDeclarations: false
BreakBeforeInheritanceComma: false
BreakBeforeInlineASMColon: Never
BreakStringLiterals: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
BreakInheritanceList: AfterColon





