BasedOnStyle: LLVM

AlignConsecutiveAssignments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false

AlignAfterOpenBracket: DontAlign
Cpp11BracedListStyle: true

PointerAlignment: Left
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentPPDirectives: None

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: AlignWithSpaces
AlignEscapedNewlines: LeftWithLastLine
ReflowComments: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

IndentGotoLabels: true

UseCRLF: false

AllowShortLoopsOnASingleLine: true

AlignOperands: true

BreakBeforeTernaryOperators: true

ColumnLimit: 100

AlwaysBreakAfterDefinitionReturnType: None

AllowShortBlocksOnASingleLine: Always

BreakAdjacentStringLiterals: false

BreakArrays: false

BreakBeforeBinaryOperators: None

BreakStringLiterals: false

SortIncludes: Never



