BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
ColumnLimit: 0
PointerAlignment: Left
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
TabWidth: 4
ReflowComments: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
IndentGotoLabels: true
BreakAfterAttributes: Leave
UseCRLF: false
AllowShortLoopsOnASingleLine: true

