Checks: '-*,readability-identifier-naming'
CheckOptions:
#  - key: readability-identifier-naming.VariableCase
#    value: camelBack
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  #  - key: readability-identifier-naming.FunctionCase
  #    value: camelBack
  #  - key: readability-identifier-naming.MemberFunctionPrefix
  #    value: 'mvk'
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
#  - key: readability-identifier-naming.ConstantCase
#    value: UPPER_CASE
#  - key: readability-identifier-naming.ConstantPrefix
#    value: 'MVK_'